<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turtle Facts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        .top-buffer{
            margin-top: 30px
        }
        .well-image{
            width: 100%;
            max-height: 162px
        }
        .answer{
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid #bbb;
        }
        .answer:hover{
            cursor: pointer;
        }
        .image-answer{
            cursor: pointer;
            height: 350px;
            width: 100%;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .image-answer img{
            width: 100%;
            height: auto;
        }
        .image-selected{
            border: 3px solid #56afdc;
        }
        .image-answer.bg-success{
            border: 3px solid #5ea640;
        }
        .image-answer.bg-danger{
            border: 3px solid #b74848;
        }
    </style>
</head>
<body ng-app="turtleFacts">
    
    <div class="container">
        <div class="page-header">
            <h1>Turtle Facts Quiz</h1>
            <h3 ng-hide="quizActive">Learn about all the turtles below before you decide to take on the <strong>TURTLE QUIZ</strong></h3>
        </div>


        <div ng-controller="listCtrl" ng-hide="quizMetrics.quizActive || quizMetrics.resultsActive">
            <form class="form-inline well well-sm clearfix">
                <div class="form-group">
                    <span class="glyphicon glyphicon-search"></span>
                    <input ng-model="search" class="form-control" type="text" placeholder="search...">
                </div>
                <button ng-click="activateQuiz(true)" class="btn btn-warning pull-right"><strong>Start Quiz</strong></button>
            </form>
            <div class="row">
                <div class="col-xs-12 col-sm-6" ng-repeat="turtle in data | filter:search">
                    <div class="well well-sm">
                        <div class="row">

                            <div class="col-md-6">
                                <img ng-src="{{turtle.image_url}}" 
                                    alt=""
                                    class="well-image img-rounded img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h4>{{turtle.type}}</h4>
                                <p>
                                    <strong>Location(s):</strong> {{turtle.locations}}<br>
                                    <strong>Size:</strong>{{turtle.size}}<br>
                                    <strong>Average Lifespan:</strong>{{turtle.lifespan}}<br>
                                    <strong>Diet:</strong> {{turtle.diet}}<br>
                                </p>
                                <button ng-click="changeActiveTurtle(turtle)" 
                                    class="btn btn-primary pull-right" 
                                    data-toggle="modal" 
                                    data-target="#turtle-info">
                                        Learn More
                                    </button>
                            </div>

                        </div><!-- row -->
                    </div><!-- well -->
                </div><!-- col-xs-6 -->            
            </div>


            <div class="modal" id="turtle-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        <div class="modal-header">
                            <h2 class="modal-title">{{activeTurtle.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <img ng-src="{{activeTurtle.image_url}}" alt="" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-6 ">
                                    <strong>Location(s):</strong> {{activeTurtle.locations}}<br>
                                    <strong>Size:</strong>{{activeTurtle.size}}<br>
                                    <strong>Average Lifespan:</strong>{{activeTurtle.lifespan}}<br>
                                    <strong>Diet:</strong> {{activeTurtle.diet}}<br>
                                </div>
                                <div class="col-md-12 top-buffer">
                                    <p>{{activeTurtle.description}}</p>
                                    <button data-dismiss="modal" class="btn btn-danger pull-right">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- row -->

        <div ng-controller="quizCtrl" ng-show="quizMetrics.quizActive">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Progress:</h2>
                    <div class="btn-toolbar">
                        <button class="btn" 
                            ng-repeat="question in quizMetrics.questions" 
                            ng-class="{'btn-info': question.selected != null, 'btn-danger': question.selected === null}"
                            ng-click="setActiveQuestion($index)">
                                <!-- display glyphicons -->
                                <span class="glyphicon" 
                                    ng-class="{'glyphicon-pencil': question.selected != null, 'glyphicon-question-sign': question.selected === null}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="alert alert-danger"
                        ng-show="error">
                            Error! You have not answered all the questions.
                    <button class="close" 
                        ng-click="error = false;"><span>&times;</span></button>
                </div>
                <h3>Question:</h3>
                <div class="well well-sm" ng-hide="finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{activeQuestion + 1 + ". " + quizMetrics.questions[activeQuestion].text}}</h4>
                            <div class="row"
                                ng-if="quizMetrics.questions[activeQuestion].type == 'text'">
                                <div class="col-sm-6"
                                    ng-repeat="answer in quizMetrics.questions[activeQuestion].possibilities">
                                        <h4 class="answer"
                                            ng-class="{'bg-info': $index === quizMetrics.questions[activeQuestion].selected}"
                                            ng-click="selectAnswer($index)">
                                                 {{answer.answer}}
                                        </h4>
                                </div>
                            </div>
                            <div class="row"
                                ng-if="quizMetrics.questions[activeQuestion].type === 'image'">
                                <div class="col-sm-6"
                                    ng-repeat="answer in quizMetrics.questions[activeQuestion].possibilities">

                                        <div class="image-answer"
                                            ng-class="{'image-selected': $index === quizMetrics.questions[activeQuestion].selected}"
                                            ng-click="selectAnswer($index)">
                                            <img ng-src="{{answer.answer}}">
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning" ng-click="questionAnswered()">Continue</button>
                </div>
                <div class="well well-sm" ng-show="finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Are You Sure You Want To Submit Your Answers?</h3>
                            <button class="btn btn-success" ng-click="finaliseAnswers()">Yes</button>
                            <button class="btn btn-danger" ng-click="finalise = false">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-controller="resultsCtrl" ng-show="quizMetrics.resultsActive">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Results:</h2>
                    <div class="btn-toolbar">
                        <button class="btn" 
                            ng-repeat="question in quizMetrics.questions" 
                            ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                            ng-click="setActiveQuestion($index)">
                                <!-- display glyphicons -->
                                <span class="glyphicon" 
                                    ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <p>Correct</p>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <p>Incorrect</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 top-buffer">
                    <p>You scored</p>
                </div>
            </div>
            <div class="row">
                <h3>Question:</h3>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{activeQuestion + 1 + ". " + quizMetrics.questions[activeQuestion].text}}</h4>
                            <div class="row"
                                ng-show="quizMetrics.questions[activeQuestion].type == 'text'">

                                <div class="col-sm-6"
                                    ng-repeat="answer in quizMetrics.questions[activeQuestion].possibilities">
                                        <h4 class="answer"
                                            ng-class="getAnswerClass($index)">
                                                {{ answer.answer }}
                                                 <p ng-show="$index != quizMetrics.correctAnswers[activeQuestion] && $index === quizMetrics.questions[activeQuestion].selected" class="pull-right">Your Answer</p>
                                                 <p ng-show="$index === quizMetrics.correctAnswers[activeQuestion] "class="pull-right">Correct Answer</p>
                                        </h4>
                                </div>
                            </div>

                            <div class="row"
                                ng-show="quizMetrics.questions[activeQuestion].type == 'image'">

                                <div class="col-sm-6"
                                    ng-repeat="answer in quizMetrics.questions[activeQuestion].possibilities">

                                        <div class="image-answer"
                                            ng-class="getAnswerClass($index)"
                                            ng-click="selectAnswer($index)">
                                            <img ng-src="{{answer.answer}}">
                                        </div>

                                </div>

                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg" ng-click="reset()">Go Back Facts</button>
            </div>
        </div>

    </div><!-- container -->
    





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/factory/quiz.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/controllers/results.js"></script>
    <script src="js/controllers/list.js"></script>
</body>
</html>
