<div ng-controller="listCtrl" ng-hide="quizMetrics.quizActive || quizMetrics.resultsActive">
    <form class="form-inline well well-sm clearfix">
        <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
            <input ng-model="search" class="form-control" type="text" placeholder="search...">
        </div>
        <button ng-click="activateQuiz(true)" class="btn btn-warning pull-right"><strong>Start Quiz</strong></button>
    </form>
    <div class="row">
        <div class="col-xs-12 col-sm-6" ng-repeat="turtle in data | filter:search">
            <div class="well well-sm">
                <div class="row">

                    <div class="col-md-6">
                        <img ng-src="{{turtle.image_url}}" 
                            alt=""
                            class="well-image img-rounded img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h4>{{turtle.type}}</h4>
                        <p>
                            <strong>Location(s):</strong> {{turtle.locations}}<br>
                            <strong>Size:</strong>{{turtle.size}}<br>
                            <strong>Average Lifespan:</strong>{{turtle.lifespan}}<br>
                            <strong>Diet:</strong> {{turtle.diet}}<br>
                        </p>
                        <button ng-click="changeActiveTurtle(turtle)" 
                            class="btn btn-primary pull-right" 
                            data-toggle="modal" 
                            data-target="#turtle-info">
                                Learn More
                            </button>
                    </div>

                </div><!-- row -->
            </div><!-- well -->
        </div><!-- col-xs-6 -->            
    </div>


    <div class="modal" id="turtle-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <div class="modal-header">
                    <h2 class="modal-title">{{activeTurtle.type}}</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img ng-src="{{activeTurtle.image_url}}" alt="" class="img-rounded img-responsive">
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-6 ">
                            <strong>Location(s):</strong> {{activeTurtle.locations}}<br>
                            <strong>Size:</strong>{{activeTurtle.size}}<br>
                            <strong>Average Lifespan:</strong>{{activeTurtle.lifespan}}<br>
                            <strong>Diet:</strong> {{activeTurtle.diet}}<br>
                        </div>
                        <div class="col-md-12 top-buffer">
                            <p>{{activeTurtle.description}}</p>
                            <button data-dismiss="modal" class="btn btn-danger pull-right">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- row -->
