<!-- Attach the quizCtrl to the view and ng-show when the quizActive flag is set -->
<div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
    <div class="row">
        <div class="col-xs-8">
            <h2>Progress:</h2>
            <div class="btn-toolbar">
                <!-- ng-repeat to loop throuh all questions and display the button markup for each -->
                <!-- ng-class conditionally displaying bootstrap classes when a question has been answered or not -->
                <!-- ng-click to call method setActiveQuestion to move to selected question -->
                <!-- the $index argument is an angular variable that contains the index of the current ng-repeat iteration -->
                <button class="btn" 
                    ng-repeat="question in quiz.quizMetrics.questions" 
                    ng-class="{'btn-info': question.selected != null, 'btn-danger': question.selected === null}"
                    ng-click="quiz.setActiveQuestion($index)">
                        <!-- display glyphicons -->
                        <!-- ng-class to style glypicons -->
                        <span class="glyphicon" 
                            ng-class="{'glyphicon-pencil': question.selected != null, 'glyphicon-question-sign': question.selected === null}"></span>
                </button>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <h4>Legend:</h4>
                <div class="col-sm-4">
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <p>Answered</p>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                    <p>Unanswered</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger"
                ng-show="quiz.error">
                    Error! You have not answered all the questions.
            <button class="close" 
                ng-click="quiz.error = false;"><span>&times;</span></button>
        </div>
        <h3>Question:</h3>
        <div class="well well-sm" ng-hide="quiz.finalise">
            <div class="row">
                <div class="col-xs-12">
                    <!-- angular {{}} notation for expressions to be evaluated -->
                    <!-- adds 1 to activeQuestion as it is zero index. Then displays the question -->
                    <!-- will be in the form of "3. this is the third question" -->
                    <!-- where the 3. is the incremented activeQuestion -->
                    <h4>{{quiz.activeQuestion + 1 + ". " + quiz.quizMetrics.questions[quiz.activeQuestion].text}}</h4>
                    <!-- ng-if will only render the below markup when true. Unlike ng-show or ng-hide which -->
                    <!-- simply doesnt show the markup, but it is still rendered in the source. -->
                    <!-- ng-if will not even render the markup -->
                    <!-- this is done in the below two sections to aviod a url being displayed as a question -->
                    <!-- or text being entered as an image url and causing issues -->
                    <div class="row"
                        ng-if="quiz.quizMetrics.questions[quiz.activeQuestion].type == 'text'">
                        <div class="col-sm-6"
                            ng-repeat="answer in quiz.quizMetrics.questions[quiz.activeQuestion].possibilities">
                                <h4 class="answer"
                                    ng-class="{'bg-info': $index === quiz.quizMetrics.questions[quiz.activeQuestion].selected}"
                                    ng-click="quiz.selectAnswer($index)">
                                         {{answer.answer}}
                                </h4>
                        </div>
                    </div>
                    <!-- notice the ng-if being used again -->
                    <!-- only the below section or the above section will display, never both -->
                    <!-- this will depend on if the current question is set to image or text -->
                    <div class="row"
                        ng-if="quiz.quizMetrics.questions[quiz.activeQuestion].type === 'image'">
                        <!-- more bootstrap and another ng-repeat, this time looping through the possible answers -->
                        <div class="col-sm-6"
                            ng-repeat="answer in quiz.quizMetrics.questions[quiz.activeQuestion].possibilities">

                                <div class="image-answer"
                                    ng-class="{'image-selected': $index === quiz.quizMetrics.questions[quiz.activeQuestion].selected}"
                                    ng-click="quiz.selectAnswer($index)">
                                    <img ng-src="{{answer.answer}}">
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ng-click will call the questionAnswered method on the controller -->
            <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Continue</button>
        </div>

        <!-- this section is the prompt to be show when the user finishes the quiz to ensure they want to continue -->
        <!-- it only shows when the finalise flag is true -->
        <!-- clicking yes will call the finaliseAnswers method which will send the user to the results page -->
        <!-- clicking no will remove the finalise flag and this put the user back into the quiz interface -->
        <div class="well well-sm" ng-show="quiz.finalise">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Are You Sure You Want To Submit Your Answers?</h3>
                    <button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Yes</button>
                    <button class="btn btn-danger" ng-click="quiz.finalise = false">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
